<form class="form-basic" [formGroup]="form" (submit)="resetPassword()">
  <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      placeholder="name@example.com"
      formControlName="mail"
      required
      email
    />
    <label for="floatingInput">Email address</label>
  </div>
  <button
    class="w-100 btn btn-lg btn-primary"
    type="submit"
    [disabled]="!form.valid"
  >
    Reset Password
  </button>
  <br />
</form>
