<!-- {{ f.value | json }} -->
<body class="bg-gradient-primary">
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Tạo vé số đỉnh kao!</h1>
                  </div>
                  <form #f="ngForm" (ngSubmit)="submit(f)">
                    <div>
                      <div class="form-group">
                        <label for="date">Ngày</label>
                        <input
                          type="text"
                          required
                          class="form-control form-control-user"
                          placeholder="dd-MM-yyyy"
                          id="date"
                          ngModel
                          name="date"
                          #date="ngModel"
                        />
                        <div
                          class="alert alert-danger"
                          *ngIf="date.touched && date.invalid"
                        >
                          <div *ngIf="date.errors">
                            Vui lòng nhập lại ngày theo định dạng dd-MM-yyyy. Ví
                            dụ: 28-11-2021
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="form-group">
                        <label for="province">Tỉnh</label>
                        <select
                          required
                          ngModel
                          name="province"
                          id="province"
                          class="form-control form-control-user"
                        >
                          <option
                            *ngFor="let province of provinces"
                            [ngValue]="province"
                          >
                            {{ province.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <!-- {{ provinceSelected | json }} -->
                    <div>
                      <div class="form-group">
                        <label for="winning">Giải</label>
                        <select
                          required
                          ngModel
                          name="winning"
                          id="winning"
                          class="form-control"
                        >
                          <option
                            *ngFor="let winning of winnings"
                            [ngValue]="winning"
                          >
                            {{ winning.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div>
                      <div class="form-group">
                        <label for="result">Kết quả</label>
                        <input
                          type="text"
                          id="result"
                          class="form-control form-control-user"
                          required
                          minlength="6"
                          maxlength="6"
                          pattern="^[0-9]*$"
                          ngModel
                          name="result"
                          #result="ngModel"
                        />
                        <div *ngIf="result.touched && result.invalid">
                          <div class="alert alert-danger">
                            Nhập ngày theo định dạng 6 số. Ví dụ: 123456
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      class="btn btn-primary"
                      type="submit"
                      [disabled]="f.invalid"
                    >
                      Tạo mới
                    </button>
                    <button class="btn btn-default" (click)="f.reset()">
                      Xoá form
                    </button>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
</body>
