<nav
  *ngIf="isAuthenticated"
  class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
>
  <div class="container-fluid">
    <a
      class="navbar-brand"
      routerLink="home"
      routerLinkActive="active"
      *ngIf="isAdmin"
      >Trang chủ</a
    >
    <a
      class="navbar-brand"
      routerLink="home-user"
      routerLinkActive="active"
      *ngIf="isUser"
      >Trang chủ</a
    >
    <div>
      <ul class="navbar-nav me-auto mb-4 mb-md-0">
        <!-- Admin Navigation -->
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="manage-user" routerLinkActive="active"
            >Quản lý Người dùng</a
          >
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="search-lottery">Dò vé số (Admin)</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a
            class="nav-link"
            routerLink="create-lottery"
            routerLinkActive="active"
            >Tạo vé số (Admin)</a
          >
        </li>
        <!-- User Navigation -->
        <li class="nav-item" *ngIf="isUser">
          <a class="nav-link" routerLink="search-lottery-user"
            >Dò vé số (User)</a
          >
        </li>
        <li class="nav-item" *ngIf="isUser">
          <a class="nav-link" routerLink="search-history">Lịch sử dò</a>
        </li>
        <!-- Common Navigation -->
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Đăng xuất</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
