<form [formGroup]="searchLotteryForm" (ngSubmit)="submit(searchLotteryForm)">
  <div>
    <div class="form-group">
      <label for="date">Ngày</label>
      <input
        type="text"
        required
        class="form-control"
        formControlName="date"
        placeholder="dd-MM-yyy"
        id="date"
      />
    </div>
    <!-- <div class="alert alert-danger" *ngIf="date.touched && date.invalid">
      <div *ngIf="date.errors">
        Vui lòng nhập lại ngày theo định dạng dd-MM-yyyy. Ví dụ: 28-11-2021
      </div>
    </div> -->
  </div>
  <div>
    <div class="form-group">
      <label for="province">Tỉnh</label>
      <select
        id="province"
        class="form-control"
        formControlName="provinceId"
        required
      >
        <option *ngFor="let province of provinces" [value]="province.id">
          {{ province.name }}
        </option>
      </select>
    </div>
  </div>
  <div>
    <div class="form-group">
      <label for="roles">Role</label>
      <!-- v1 -->
      <!-- <div id="roles" *ngFor="let role of roles" class="form-control">
        <input type="checkbox" id="{{ role.id }}" formArrayName="roles" />
        <label for="{{ role.id }}">{{ role.name }}</label>
      </div> -->
      <!-- v2 -->
      <!-- <div
        id="roles"
        class="checkbox"
        *ngFor="let role of roles; let i = index"
      >
        <label>
          <input type="checkbox" formArrayName="roles" [value]="role" />
          {{ role.name }}
        </label>
      </div> -->
      <!-- v3 -->
      <div *ngFor="let role of roles">
        <mat-checkbox color="primary" [value]="role.id">
          {{ role.name }}</mat-checkbox
        >
      </div>
    </div>
  </div>
  <div>
    <div class="form-group">
      <label for="value">Value</label>
      <input
        type="text"
        class="form-control"
        required
        formControlName="value"
      />
    </div>
  </div>
  <!-- Normal 2 input fields -->
  <!-- Kinda different syntax between ngModelGroup="province" and ngModel name="id" -->
  <!-- <div ngModelGroup="province">
      <div class="form-group">
        <label for="provinceId">Tỉnh ID</label>
        <input
          id="provinceId"
          type="text"
          class="form-control"
          required
          ngModel
          name="id"
          value="1"
        />
      </div>
      <div class="form-group">
        <label for="provinceName">Tỉnh</label>
        <input
          id="provinceName"
          type="text"
          class="form-control"
          required
          ngModel
          name="name"
          value="Dak Lak"
        />
      </div>
    </div> -->
  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="searchLotteryForm.invalid"
  >
    Dò vé
  </button>
  <button class="btn btn-warning" (click)="searchLotteryForm.reset()">
    Xoá form
  </button>
</form>
{{ searchLotteryForm.value | json }}
<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Giải</th>
        <th>Kết quả</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results">
        <td>{{ result.winning.name }}</td>
        <td>{{ result.result }}</td>
      </tr>
    </tbody>
  </table>
</div>
