<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Manage <b>Users</b></h2>
          </div>
          <div class="col-sm-6">
            <a
              class="btn btn-success w-30"
              data-toggle="modal"
              href="/create-user"
            >
              <span>Create User</span></a
            >
            &nbsp;
            <a class="btn btn-info w-30" data-toggle="modal" href="/edit-user">
              <span>Edit User</span></a
            >
            &nbsp;
            <a
              href="#deleteEmployeeModal"
              class="btn btn-danger w-30"
              data-toggle="modal"
              ><span>Delete</span></a
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="mail"
          [(ngModel)]="searchInput.mail"
          placeholder="Search by mail..."
        />
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>
              <span class="custom-checkbox">
                <input type="checkbox" id="selectAll" />
                <label for="selectAll"></label>
              </span>
            </th>
            <th>Email</th>
            <th>Role</th>
            <th>Phone</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let user of users
                | filter: searchInput.mail
                | paginate: { itemsPerPage: 5, currentPage: currentPg }
            "
          >
            <td>
              <span class="custom-checkbox">
                <input
                  type="checkbox"
                  id="checkbox1"
                  name="options[]"
                  value="1"
                />
                <label for="checkbox1"></label>
              </span>
            </td>
            <td>
              {{ user.mail }}
            </td>
            <td>
              {{ user.role }}
            </td>
            <td>
              {{ user.phone }}
            </td>
            <td>
              {{ user.name }}
            </td>
            <td>
              <button (click)="editUser(user)" class="btn btn-sm btn-success">
                <i class="material-icons md-14">build</i>
              </button>
              &nbsp;
              <button class="btn btn-sm btn-danger" (click)="deleteUser(user)">
                <i class="material-icons md-14">delete_forever</i>
              </button>
              &nbsp;
              <button
                class="btn btn-sm btn-secondary"
                (click)="resetPassword(user)"
              >
                <i class="material-icons md-14">autorenew</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="clearfix">
        <pagination-controls (pageChange)="currentPg = $event">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
<!-- Edit Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Add Employee</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Address</label>
            <textarea class="form-control" required></textarea>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" required />
          </div>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input type="submit" class="btn btn-success" value="Add" />
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Edit Employee</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Address</label>
            <textarea class="form-control" required></textarea>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" required />
          </div>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input type="submit" class="btn btn-info" value="Save" />
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Delete Employee</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete these Records?</p>
          <p class="text-warning">
            <small>This action cannot be undone.</small>
          </p>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input type="submit" class="btn btn-danger" value="Delete" />
        </div>
      </form>
    </div>
  </div>
</div>

<form action="" class="form-group form form-basic">
  <h1 class="h3 mb-3 fw-normal">Tìm người dùng</h1>
  <div class="form-floating">
    <input
      type="text"
      id="mailInput"
      class="form-control"
      ngModel
      name="mailInput"
      #emailInput
    />
    <label for="floatingInput">Tìm bằng Email</label>
    <button
      class="w-100 btn btn-lg btn-primary"
      (click)="searchUserByMail(emailInput)"
    >
      Tìm kiếm
    </button>
  </div>
  <div class="form-floating">
    <input
      type="text"
      id="phoneInput"
      class="form-control"
      ngModel
      name="phoneInput"
      #phoneInput
    />
    <label for="floatingInput">Tìm bằng Số điện thoại</label>
    <button
      class="w-100 btn btn-lg btn-primary"
      (click)="searchUserByPhone(phoneInput)"
    >
      Tìm kiếm
    </button>
  </div>
</form>
