<h1>Delete Multiple Table Rows from Server using Angular</h1>

<div *ngIf="searchHistories && searchHistories.length > 0">
  <div *ngIf="msg" [ngClass]="clss">{{ msg }}</div>
  <button type="button" (click)="deleteSearchHistories()">
    Delete Selected Product(s)
  </button>
  <table class="datatable">
    <thead>
      <tr>
        <th>
          <input
            type="checkbox"
            [checked]="isAllCheckBoxChecked()"
            (change)="checkAllCheckBox($event)"
          />
        </th>
        <th>ID</th>
        <th>User</th>
        <th>Date</th>
        <th>Province</th>
        <th>Search Value</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let s of searchHistories; let i = index; let odd = odd"
        [ngClass]="odd ? 'odd_col' : 'even_col'"
      >
        <td>
          <input
            type="checkbox"
            value="{{ s.id }}"
            [(ngModel)]="searchHistories[i].checked"
          />
        </td>
        <td>{{ s.id }}</td>
        <td>{{ s.userMail }}</td>
        <td>{{ s.date }}</td>
        <td>{{ s.provinceName }}</td>
        <td>{{ s.searchValue }}</td>
      </tr>
    </tbody>
  </table>
</div>
