<!-- === Router Part ==== -->
<!-- <button class="btn btn-success">
  <a routerLink="/tao-xo-so">Tạo mới Xổ số</a>
</button>
<br />
<button class="btn btn-warning">
  <a routerLink="/sua-xo-so"> Chỉnh sửa Xổ số</a>
</button>
<router-outlet></router-outlet> -->

<!-- === Testing Purpose === -->
<!-- <app-search-lottery></app-search-lottery> -->
<!-- <app-create-lottery></app-create-lottery> -->

<!-- === Manage user === -->
<!-- <app-manage-user></app-manage-user> -->

<!-- Task 5 and 6 -->
<!-- <app-nav></app-nav>
<router-outlet></router-outlet> -->

<!-- Task 7 -->
<!-- <app-search-lottery-user></app-search-lottery-user> -->
<!-- <app-search-history></app-search-history> -->
<!-- <app-form-array></app-form-array> -->
<!-- <app-submit-file></app-submit-file> -->

<!-- <app-create-user></app-create-user> -->

<!-- OK -->
<!-- <app-login></app-login>  -->
<!-- <app-register></app-register> -->
<app-reset-password></app-reset-password>
