<form #heroForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="date">Ngày</label>
    <input
      type="text"
      required
      class="form-control"
      placeholder="dd-MM-yyyy"
      id="date"
      value="01-12-2021"
      [(ngModel)]="dateInput"
      name="date"
    />
    TODO: Delete this: {{ dateInput }}
  </div>
  <div class="form-group">
    <label for="province">Tỉnh</label>
    <select
      id="province"
      required
      class="form-control"
      [(ngModel)]="selectedProvince"
      name="province"
    >
      <option *ngFor="let province of provinces" [ngValue]="province">
        {{ province.name }} - {{ province.id }}
      </option>
    </select>
    <!-- <input
      type="text"
      required
      class="form-control"
      id="province"
      name="province"
      [(ngModel)]="provinceCode"
    /> -->
    TODO: Delete this: Choosing: {{ selectedProvince.id }}
    <br />
  </div>
  <div class="form-group">
    <label for="searchValue">Số vé</label>
    <input
      type="text"
      class="form-control"
      required
      id="searchValue"
      name="searchValue"
      value="666666"
    />
  </div>
  <button class="btn btn-primary" type="submit">Dò vé</button>
</form>
<!-- {{ results | json }} -->
<!-- Display results -->
<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Giải</th>
        <th>Kết quả</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results">
        <td>{{ result.winning.name }}</td>
        <td>{{ result.result }}</td>
      </tr>
    </tbody>
  </table>
  <!-- <tr *ngFor="let result of results">
    winning: {{ result.winning.name }}
    <br />
    result: {{ result.result }}
    <br />
    <br />
  </tr> -->
</div>
