<form #heroForm="ngForm" (ngSubmit)="onSubmit(dateInput, selectedProvince)">
  <div class="form-group">
    <label for="date">Ngày</label>
    <input
      type="text"
      required
      class="form-control"
      placeholder="dd-MM-yyyy"
      id="date"
      value="28-11-2021"
      #dateInput
      name="date"
    />
    TODO: ❗️ {{ dateInput.value }}
  </div>
  <!-- <div class="form-group">
    <label for="province">Tỉnh</label>
    <input type="text" class="form-control" required #provinceInput value="1" />
    TODO: ❗️ {{ provinceInput.value }}
    <br />
  </div> -->
  <div class="form-group">
    <label for="province">Tỉnh</label>
    <select id="province" class="form-control" ngModel name="selectedProvince">
      <option *ngFor="let province of provinces" [ngValue]="province">
        {{ province.name }}
      </option>
    </select>
    TODO: ❗️ {{ selectedProvince | json }}
  </div>
  <!-- <div class="form-group">
    <label for="searchValue">Số vé</label>
    <input
      type="text"
      class="form-control"
      required
      id="searchValue"
      name="searchValue"
      value="666666"
    />
  </div> -->
  <button class="btn btn-primary" type="submit">Dò vé</button>
</form>
<!-- {{ results | json }} -->
<!-- Display results -->
<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Giải</th>
        <th>Kết quả</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results">
        <td>{{ result.winning.name }}</td>
        <td>{{ result.result }}</td>
      </tr>
    </tbody>
  </table>
  <!-- <tr *ngFor="let result of results">
    winning: {{ result.winning.name }}
    <br />
    result: {{ result.result }}
    <br />
    <br />
  </tr> -->
</div>
